body.kuharija {
	background: white url("../img/white_wall_hash.png") repeat top left;
}

#noScript {
	width: 22em;
	position: absolute;
	left: 50%;
	margin-left: -11em;
	color: red;
	background-color: white;
	border: 1px solid red;
	padding: 4px;
	font-family: sans-serif;
}

/* visually hidden, but accessible, like on twitter.com */
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* header */
#header img {
	display: none;
}

@media (min-width: 979px) {
	#header img {
		display: block;
		height: 100px;
		width: 100%;
	}
}

/* footer */
footer {
	margin-top: 30px;
	text-align: right;
}

/* login */
#loginForm {
	margin-top: 1em;
}

#loginForm div {
	font-weight: bold;
	margin-bottom: 3px;
}

#loginForm button {
	display: block;
}

/* index */
@media (min-width: 480px) {
	.index {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 1200px) {
	.index {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

/* image links */
.imageLink {
	margin-bottom: 10px;
}

.imageLink-ingredients {
	background: black url("../img/ingredients.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.imageLink-utensils {
	background: black url("../img/utensils.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.imageLink a {
	background: rgba(254, 254, 254, 0.07);
	color: white;
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	min-height: 8em;
	padding: 5%;
	text-decoration: none;
	text-shadow: black 2px 1px;
	width: 90%;
}

.imageLink a:hover {
	background: rgba(254, 254, 254, 0.02);
	color: white;
	text-decoration: none;
}

/* ingredients / utensils */
div[role=article] p {
	margin-top: 10px;
}

div[role=article] a {
	margin: 0 5px 5px 0;
}

#ingredientsList {
	margin-top: 10px;
}

/* exposed */
.exposedEntry {
	margin: 10px 0;
}

.exposedEntry img {
	widgth: 100%;
	max-height: 300px;
	margin: 5px 0;
	display: block;
}

.exposedEntry a {
	display: block;
	font-size: 1.15em;
}

.userRecommendations {
	margin-bottom: 1.5em;
}

.userRecommendations:empty {
	margin: 0;
}

p.lead-home,
p.lead-home {
	margin-bottom: 5px;
}

/* search  */
.searchPanel {
	text-align: center;
}

.searchWidget {
	display: inline-block;
}

.searchWidget input.large {
	padding: 11px 19px;
	font-size: 17.5px;
}

.searchWidgetHolder .searchWidget {
	margin-bottom: 0 !important;
}

.resultsPanel {
	background: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 1em;
	padding: 10px;
}

.resultsPanel h3 {
	margin-top: 0;
}

.resultEntry {
	display: inline-block;
	margin: 1em 0.75em 1em 1em;
}

.resultEntry img {
	max-height: 160px;
	max-width: 200px;
	display: block;
}

.resultEntry a {
	display: block;
}

.resultEntry label.checkbox {
	font-style: italic;
	margin-top: 5px;
}

#filtersShowButton,
#filtersHideButton {
	background: white;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 0 auto;
}

.filtersPanel {
	text-align: justify;
	background-color: white;
	/*text-align: center;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 10px;
}

.filtersPanel .span3 {
	margin-bottom: 10px;
}

.filterLabel {
	font-style: italic;
	font-weight: bold;
	margin: 5px 5px 2px 2px;
}

/* paging */
.pagingWidget {
	margin-top: 10px;
	text-align: center;
}

.pagingWidget a {
	margin: 0 10px;
}

.pagingWidget input[type=text] {
	max-width: 3em;
	margin: 0 5px;
	text-align: right;
}

/* compare */
#compareView td {
	max-width: 300px; 
}

#compareView td:first-child {
	font-style: italic;
	font-weight: bold;
}

#compareView ul {
	list-style: none;
	margin: 0;
}


#compareView img {
	max-height: 240px;
	max-width: 300px;
}

@media (min-width: 480px) {
	.compareView img {
	max-height: 160px;
	max-width: 200px;
	}
}

/* recipe */
.recipeView em {
	display: block;
	margin-bottom: 7px;
	font-size: 1.15em;
}

#columnImg {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 400px;
	margin-bottom: 10px;
}

@media (max-width: 979px) {
	#columnImg {
		min-height: 200px;
	}
}

#columnInfo {
	vertical-align: bottom;
	margin-bottom: 10px;
}

#numOfMealsInput {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}

#numOfMealsInput input[type=text] {
	max-width: 3em;
	text-align: right;
}

#tabsWidget .nav {
	margin-bottom: 0;
}

#tabsWidget .tab-content {
	background-color: white;
	border: 1px solid #DDDDDD;
	border-top: none;
	min-height: 100px;
	padding: 15px;
	-moz-box-shadow: 5px 5px 10px #DDDDDD;
	-webkit-box-shadow: 5px 5px 10px #DDDDDD;
	box-shadow: 5px 5px 10px #DDDDDD;
	margin-bottom: 10px;
}

p.stepContent {
	margin: 10px 0;
}

/* widgets */
.sideWidget {
	padding: 2px;
}

/* suggest box */
.gwt-SuggestBoxPopup {
	border: 1px solid #EFEFEF;
	background-color: white;
}

.gwt-SuggestBoxPopup td.item {
	padding: 4px 6px;
}

.gwt-SuggestBoxPopup td.item-selected {
	background-color: #EFEFEF;
}

/* badges */
.category,
.season {
	margin-right: 5px;
}

.badge.category-starter {
	background-color: #F58A25;
}
.badge.category-snack {
	background-color: #538558;
}
.badge.category-main {
	background-color: #237CD3;
}
.badge.category-dessert {
	background-color: #A173A4;
}
.badge.category-salad {
	background-color: #9AC93D;
}
.badge.category-side {
	background-color: #9AC93D;
}
.badge.category-meat {
	background-color: #B8202D;
}
.badge.category-seafood {
	background-color: #237C93;
}
.badge.category-vegeterian {
	background-color: #168342;
}
.badge.category-special {
	background-color: #B81463;
}

.badge.season-spring {
	background-color: #9AC93D;
}
.badge.season-summer {
	background-color: #F58A25;
}
.badge.season-autumn {
	background-color: #82211E;
}
.badge.season-winter {
	background-color: #2F5B82;
}

/* print styles */
@media print {
	.visuallyhidden,
	nav, #nav, 
	#header {
		display: none;
	}
}