@media (max-width: 959px) {
	body {
		padding-top: 0 !important;
	}
}

#noScript {
	width: 22em;
	position: absolute;
	left: 50%;
	margin-left: -11em;
	color: red;
	background-color: white;
	border: 1px solid red;
	padding: 4px;
	font-family: sans-serif;
}

.visuallyhidden {
	/* like on twitter.com */
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header img {
	display: none;
}

@media (min-width: 960px) {
	header img {
		display: block;
		height: 100px;
	}
}

footer {
	margin-top: 30px;
	text-align: right;
}

.searchWidget {
	display: inline-block;
}

/* home */
#recommendations {
}

.recommendation img {
	height: 100%;
}

.recommendation a {
	display: block;
}

/* login */
#loginForm {
	margin-top: 1em;
}

/* index */
@media (min-width: 480px) {
	.index {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 1200px) {
	.index {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

/* search  */
.resultEntry {
	display: inline-block;
	margin: 1em;
}

.resultEntry img {
	max-height: 160px;
	max-width: 200px;
	display: block;
}

.resultEntry a {
	display: block;
}

#filtersPanel input[type="checkbox"],
#sortPanel input[type="radio"] {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.filterLabel {
	font-weight: bold;
}

@media (min-width: 480px) {
	.filterLabel {
		display: inline-block;
		margin-right: 20px;
		text-align: right;
		width: 100px;
	}
}

#filtersPanel label,
#sortPanel label {
	display: inline-block;
	margin: 10px 5px;
	cursor: pointer;
}

#filtersPanel label.badge-active,
#sortPanel label.badge-active {
	background-color: #0088CC;
}

/* paging */
.pagingWidget {
	margin-top: 10px;
	text-align: center;
}

.pagingWidget a {
	margin: 0 10px;
}

.pagingWidget input[type=text] {
	max-width: 3em;
	margin: 0 5px;
	text-align: right;
}

/* compare */
#compareView img {
	max-height: 240px;
	max-width: 300px;
}

@media (min-width: 480px) {
	.ompareView img {
	max-height: 160px;
	max-width: 200px;
	}
}

/* recipe */
#numOfMealsInput {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}

#numOfMealsInput input[type=text] {
	max-width: 3em;
	text-align: right;
}

/* suggest box */
.gwt-SuggestBoxPopup {
	border: 1px solid #EFEFEF;
	background-color: white;
}

.gwt-SuggestBoxPopup td.item {
	padding: 4px 6px;
}

.gwt-SuggestBoxPopup td.item-selected {
	background-color: #EFEFEF;
}

/* print styles */
@media print {
	.visuallyhidden,
	nav, #nav, 
	header, #header {
		display: none;
	}
}