<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ingredientServlet</servlet-name>
    <servlet-class>si.merljak.magistrska.server.IngredientServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>recipeServlet</servlet-name>
    <servlet-class>si.merljak.magistrska.server.RecipeServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>recommendationServlet</servlet-name>
    <servlet-class>si.merljak.magistrska.server.RecommendationServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>si.merljak.magistrska.server.SearchServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>si.merljak.magistrska.server.UserServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>utensilServlet</servlet-name>
    <servlet-class>si.merljak.magistrska.server.UtensilServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingredientServlet</servlet-name>
    <url-pattern>/kuharija/ingredient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>recipeServlet</servlet-name>
    <url-pattern>/kuharija/recipe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>recommendationServlet</servlet-name>
    <url-pattern>/kuharija/recommend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/kuharija/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/kuharija/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>utensilServlet</servlet-name>
    <url-pattern>/kuharija/utensil</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>