<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>recipeServlet</servlet-name>
    <servlet-class>si.merljak.magistrska.server.RecipeServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>si.merljak.magistrska.server.SearchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>recipeServlet</servlet-name>
    <url-pattern>/magistrska/recipe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/magistrska/search</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
